psycopg2-binary==2.9.10
asyncpg==0.30.0
pycparser==2.22
python-dotenv==1.0.1
SQLAlchemy==2.0.39
sqlmodel==0.0.24
starlette==0.46.1
greenlet==3.2.2
typing_extensions==4.12.2
email_validator==2.2.0
annotated-types==0.7.0
pydantic==2.10.6
pydantic_core==2.27.2
uvicorn==0.34.0
fastapi==0.115.11
requests==2.32.3
celery
redis

aiohttp~=3.11.18
beautifulsoup4~=4.13.4