POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/project_db
CELERY_BROKER_URL=redis://redis:6379
CELERY_BACKEND_URL=redis://redis:6379

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=project_db

APP_JWT_SECRET=hajbudububsubabjsbabsbuuqbjj
APP_DATABASE_URI=postgresql+asyncpg://postgres:postgres@postgres:5432/project_db
