fastapi
uvicorn
sqlmodel
alembic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
psycopg2-binary
requests
beautifulsoup4
aiohttp
celery
redis
sqlalchemy[asyncio]
asyncpg
pyjwt
email-validator
python-multipart
selectolax
httpx