fastapi[all]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
sqlmodel
passlib
python-jose
fastapi
uvicorn
requests
beautifulsoup4
python-multipart
passlib
celery==5.3.6
redis==4.6.0
flower==2.0.1
asyncpg==0.29.0
psycopg2-binary==2.9.9
sqlalchemy[asyncio]==2.0.25
fake-useragent==1.4.0