fastapi
uvicorn[standard]
sqlalchemy
sqlmodel
psycopg2-binary
asyncpg
alembic
requests
beautifulsoup4
aiohttp
python-dotenv
pydantic-settings
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose
email-validator
python-multipart
greenlet
httpx
celery
redis